

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{margin: 0px; padding: 0px; background-color: #E7E7E8;}   
.container{ color: #535353;background-color: #ffffff;}
.container_header{ }
.jumbotron{ background-color: #05ABB1; color: #ffffff; margin-top: 0px;}
h1{color: #00A5D7; font-weight: bold;}
h2{color: #00A5D7; font-weight: bold;}
h3{color: #00A5D7; }
select{color: #535353; border: 1px solid #cccccc; font-size: 16px;}
footer{ background-color: #00A7D4;  padding: 30px;
  margin-top: 0px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #ffffff;}
.jumbotron{margin-bottom: 0px;}
a{text-decoration: underline;}
.container_home{background-image:url('images/handshake.jpg'); width: 100%; height: 100%;}
.home_overlay{top: 0px; left: 0px; width: 30%;background-color:#333333;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */}














